@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
body{
    font-family: 'Inter', sans-serif;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    justify-items: center;
}

.greensquare{
    background-color: green;
    width: 300px;
    height: 300px;
    border-top-left-radius: 100%;
    margin: 0 10px 10px 0;
}

.bluesquare{
    background-color: blue;
    width: 300px;
    height: 300px;
    border-bottom-right-radius: 100%;
}

.redsquare{
    background-color: red;
    width: 300px;
    height: 300px;
    border-bottom-left-radius: 100%;
    margin: 0 10px 0 0;
}

.yellowsquare{
    background-color: yellow;
    width: 300px;
    height: 300px;
    border-top-right-radius: 100%;
}

.circle{
    background-color:aquamarine;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    position: relative;
    top: -450px;
    left: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}

@keyframes animacaoCor {
    50% {
        animation-duration: 1s;
        
    }
}

.activeGreen{
    transform: scale(1.05);
    background-color: rgb(13, 248, 5);    ;
    box-shadow: -1px 11px 31px -4px rgb(13, 248, 5);

}

.activeYellow{
    transform: scale(1.05);
    background-color: rgb(249, 253, 21);
    box-shadow: -1px 11px 31px -4px rgb(249, 253, 21);

}

.activeRed{
    transform: scale(1.05);
    background-color: rgb(253, 124, 107);
    box-shadow: -1px 11px 31px -4px rgb(253, 124, 107);

}

.activeBlue{
    background-color: rgb(7, 255, 243);    ;
    transform: scale(1.05);
    box-shadow: -1px 11px 31px -4px rgb(7, 255, 243);

}


.redsquare:hover{
    cursor: pointer;
}

.yellowsquare:hover{
    cursor: pointer;
}

.greensquare:hover{
    cursor: pointer;
}

.bluesquare:hover{
    cursor: pointer;
}